@use '../../colors.scss';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .35em;

    background-color: colors.$primary;
    font-size: 1.25rem;
    letter-spacing: calc(-7.5 * 0.01em);
    font-weight: 500;
    color: #fff;
    min-height: 55px;

    img {
        width: 1.5em;
        height: 1.5em;
    }
}